

.logo_image_left{
    display: block;
    margin-left: 0;
    /*margin-right: auto;*/
    width: 50%;
}

/* The side navigation menu */
.Menu {
    height: 60%; /* 100% Full-height */
    width: 12%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 120px; /* Stay at the top */
    left: 0;
    /*background-color: #111;  Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-left: 25px;
    margin-top: 25px;
}

/* The navigation menu links */
.Menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 140px;
    height: 30px;
}

/* When you mouse over the navigation links, change their color */
.Menu a:hover {
    color: #f1f1f1;
}

div {
    padding: 15px 10px;
    margin-left: 160px;
    position: absolute;
    top: 130px;
    left: 40px;
    width: 600px;
    height: 600px;
    visibility: hidden;

}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.blue
{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.red
{
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.green
{
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.yellow
{
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.keystable{
    text-align:center;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #ad6bff;
    text-decoration: none;
}

.Settings{
    text-align:center;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #96ff5b;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}